{% extends './base.html' %}
{% block title %} Inicio {% endblock %}

{% block body %}
<div class="col-12 container my-3">
  <h1><i class="fa-solid fa-door-open"></i>Sean Bienvenidos, donde las Mezclas comienzan </h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="/static/imagenes/fabrica1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/static/imagenes/proceso.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/static/imagenes/Sipo2.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container my-2">
<div class="card-group container-fluid">
  <div class="card">
    <img src="/static/imagenes/logo_pro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">¿Quienes Somos?</h5>
      <p class="card-text">Somos una empresa experto en el area de Dosificados de Solidos para distintas empresas, teniendo alcance 
        desde fabricas de galletas hasta usos farmaceuticos, enfocandonos en ser lider en esta area y anhelar la excelencia de nuestro producto.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/static/imagenes/vision.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Visión</h5>
      <p class="card-text">Ser el referente global en soluciones de dosificación de sólidos, transformando la eficiencia y precisión 
        de la industria a través de la innovación continua y un compromiso inquebrantable con la calidad.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/static/imagenes/mision.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Misión</h5>
      <p class="card-text">En Dosi5, nuestra misión es diseñar, desarrollar e implementar 
        istemas de dosificación de sólidos de vanguardia que garanticen 
        la máxima precisión, fiabilidad y optimización de los procesos productivos.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
{% endblock %}
