<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head> 
  <script src="https://kit.fontawesome.com/59327e5963.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doci5</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">  
    <a class="navbar-brand" href="/">Doci5</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        <a class="nav-link" href="#">Quienes Somos?</a>
        <a class="nav-link" href="/Registro">Registro</a>
        <a class="nav-link" href="/Recetas">Recetas</a>
      </div>
    </div>
  </div>
</nav>

<div class="col-12 container my-3">
  <h1><i class="fa-solid fa-door-open"></i>Sean Bienvenidos, donde las Mezclas comienzan </h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="/static/imagenes/fabrica1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/static/imagenes/proceso.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/static/imagenes/Sipo2.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container my-2">
<div class="card-group container-fluid">
  <div class="card">
    <img src="/static/imagenes/logo_pro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">¿Quienes Somos?</h5>
      <p class="card-text">Somos una empresa experto en el area de Dosificados de Solidos para distintas empresas, teniendo alcance 
        desde fabricas de galletas hasta usos farmaceuticos, enfocandonos en ser lider en esta area y anhelar la excelencia de nuestro producto.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/static/imagenes/vision.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Visión</h5>
      <p class="card-text">Ser el referente global en soluciones de dosificación de sólidos, transformando la eficiencia y precisión 
        de la industria a través de la innovación continua y un compromiso inquebrantable con la calidad.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/static/imagenes/mision.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Misión</h5>
      <p class="card-text">En Dosi5, nuestra misión es diseñar, desarrollar e implementar 
        istemas de dosificación de sólidos de vanguardia que garanticen 
        la máxima precisión, fiabilidad y optimización de los procesos productivos.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

<footer class="bg-dark text-light pt-5">
    <div class="container px-5">
        <div class="row">
            <div class="col-6 col-lg-4">
                <h3 class="fw-bold">Doci5</h3>
                <p class="pt-2">Charallave, Estado Miranda, Venezuela</p>
                <p class="mb-2">Tlf: 0239-511-0950</p>
                <p>code: 1011</p>
            </div>
            <div class="col">
                <h4>Menu</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">Inicio</li>
                    <li class="py-1">Quienes Somos?</li>
                    <li class="py-1">Registro</li>
                    <li class="py-1">Recetas</li>
                </ul>
            </div>
            <div class="col">
                <h4>Mas</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">Proveedores</li>
                    <li class="py-1">FAQs</li>
                </ul>
            </div>
            <div class="col">
                <h4>Categorias</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">Productos</li>
                    <li class="py-1">Maquinaria</li>
                    <li class="py-1">Medios y Transporte</li>
                  
                </ul>
            </div>
            <div class="col-6 col-lg-3 text-lg-end">
                <h4>Social Media Links</h4>
                <div class="social-media pt-2">
                    <a href="https://www.facebook.com/nelson.figuerabacco/" class="text-light fs-2 me-3"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-light fs-2 me-3"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="#" class="text-light fs-2 me-3"><i class="fa-brands fa-instagram"></i></i></a>
                    <a href="#" class="text-light fs-2"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-sm-flex justify-content-between py-1">
            <p>2025 © Doci5. Todos los Derechos Reservados. </p>
            <p>
                <a href="#" class="text-light text-decoration-none pe-4">Terminos y Usos</a>
                <a href="#" class="text-light text-decoration-none"> Politica de Privacidad</a>
            </p>
        </div>
    </div>
</footer>